<template>
  <article
    class="message block"
    :class="{ 'user-msg': isUser, 'bot-msg': isBot, 'system-msg': isSystem }"
  >
    <div class="message-header">
      <p v-if="isBot">C.H.O.M.P.</p>
      <p v-if="isUser">User</p>
      <p v-if="isSystem">System</p>
    </div>
    <div class="message-body">
      <p v-html="messageBody"></p>
      <br v-if="hasPayload" />
      <div v-if="hasQueryResult">
        <div class="card" v-for="(result, index) in (queryResultPayload?.data.slice(0, 4) as Array<RasaQueryResultEntry>)" v-bind:key="index">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <PlaceholderImage :id="result.id" />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ result.name }}</p>
                <p class="subtitle is-6">
                  <span class="icon is-small">
                    <ion-icon name="fast-food"></ion-icon>
                  </span>
                  {{ result.food }}
                  |
                  <span class="icon is-small">
                    <ion-icon name="location"></ion-icon>
                  </span>
                  {{ result.area }}
                  |
                  <span class="icon is-small">
                    <ion-icon name="cash"></ion-icon>
                  </span>
                  {{ result.pricerange }}
                  |
                  <span class="icon is-small">
                    <ion-icon name="call"></ion-icon>
                  </span>
                  {{ result.phone }}
                </p>
              </div>
            </div>
            <p>{{ result.description }}</p>
          </div>
        </div>
      </div>
      <div v-else-if="hasSlots">
        <div class="card">
          <div class="card-content">
            <p v-if="slotsPayload?.data.food !== 'None'">
              <span class="icon is-small">
                <ion-icon name="fast-food"></ion-icon>
              </span>
              {{ (slotsPayload?.data.food as Array<string>).join(",") }}
            </p>
            <p v-if="slotsPayload?.data.area !== 'None'">
              <span class="icon is-small">
                <ion-icon name="location"></ion-icon>
              </span>
              {{ (slotsPayload?.data.area as Array<string>).join(",") }}
            </p>
            <p v-if="slotsPayload?.data.pricerange !== 'None'">
              <span class="icon is-small">
                <ion-icon name="cash"></ion-icon>
              </span>
              {{ (slotsPayload?.data.pricerange as Array<string>).join(",") }}
            </p>
            <p v-if="slotsPayload?.data.rest_location !== 'None'">
              <span class="icon is-small">
                <ion-icon name="location"></ion-icon>
              </span>
              {{ (slotsPayload?.data.rest_location as Array<string>).join(",") }}
            </p>
          </div>
        </div>
      </div>
      <div v-else-if="hasFilterSuggestion">
        <div class="card">
          <div class="card-content">
            <div v-for="(filterSuggestion, index) in filterSuggestionPayload?.data" v-bind:key="index">
              <span v-if="filterSuggestion.slot==='food'" class="icon is-small">
                <ion-icon name="fast-food"></ion-icon>
              </span>
              <span v-if="filterSuggestion.slot==='area'" class="icon is-small">
                <ion-icon name="location"></ion-icon>
              </span>
              <span v-if="filterSuggestion.slot==='pricerange'" class="icon is-small">
                <ion-icon name="cash"></ion-icon>
              </span>
              {{ filterSuggestion.suggestion }}
            </div>
          </div>
        </div>
      </div>
      <p class="has-text-right">{{ message?.time.toLocaleTimeString() }}</p>
    </div>
  </article>
</template>

<script lang="ts">
import { MessageType, Message } from '@/message'
import type { PropType } from 'vue'
import { RasaPayloadType, type RasaFilterSuggestion, type RasaQueryResult, type RasaQueryResultEntry, type RasaSlots } from '../rasa'
import PlaceholderImage from './PlaceholderImage.vue'

export default {
  name: 'ChatMessage',
  props: {
    message: Object as PropType<Message>
  },
  computed: {
    isBot() {
      return this.message?.type == MessageType.Bot
    },
    isUser() {
      return this.message?.type == MessageType.User
    },
    isSystem() {
      return this.message?.type == MessageType.System
    },
    hasPayload() {
      return this.message?.payload !== undefined
    },
    hasQueryResult() {
      return this.hasPayload && this.message?.payload?.type === RasaPayloadType.QueryResult
    },
    hasSearchHistory() {
      return this.hasPayload && this.message?.payload?.type == RasaPayloadType.SearchHistory
    },
    hasSlots() {
      return this.hasPayload && this.message?.payload?.type == RasaPayloadType.Slots
    },
    hasFilterSuggestion() {
      return this.hasPayload && this.message?.payload?.type == RasaPayloadType.FilterSuggestion
    },
    payloadData() {
      if (this.hasPayload) {
        return this.message?.payload
      }
      return null
    },
    slotsPayload() {
      if (this.hasSlots) {
        return this.message?.payload as RasaSlots
      }
      return null
    },
    queryResultPayload() {
      if (this.hasQueryResult) {
        return this.message?.payload as RasaQueryResult
      }
      return null
    },
    filterSuggestionPayload() {
      if (this.hasFilterSuggestion) {
        return this.message?.payload as RasaFilterSuggestion
      }
      return null
    },
    messageBody() {
      return this.message?.getHTML()
    }
  },
  components: { PlaceholderImage }
}
</script>
<style lang="scss" scoped>
.card {
  margin: 10px;
}
.title {
  text-transform: capitalize;
}
</style>
