<template>
  <div class="box my-6">
    <div id="chat-box">
      <h1 id="chat-welcome" class="title is-size-1 has-text-centered">Welcome to C.H.O.M.P.</h1>
      <h2 id="chat-welcome" class="subtitle is-size-3 has-text-centered">
        Cambridge's Handy Online Restaurant Matchmaker Program
      </h2>
      <hr />
      <ChatMessage
        v-for="(message, index) in sessionStore.messages"
        v-bind:key="index"
        :message="message"
        @vue:mounted="onMessageMounted"
      />
      <progress v-show="isLoading" class="mx-auto progress is-small is-primary" max="100">
        15%
      </progress>
      <div ref="bottom" id="chat-bottom" />
    </div>
    <hr />
    <form id="chat-entry" @submit.prevent="onSubmit">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input v-model="value" class="input is-expanded" type="text" placeholder="Message" />
        </div>
        <div class="control">
          <button
            type="submit"
            :disabled="isLoading"
            class="button is-info"
            :class="{ 'is-loading': isLoading }"
          >
            Send
          </button>
        </div>
      </div>
    </form>
    <hr />
    <form id="chat-session" @submit.prevent="onNewSession">
      <div class="field">
        <label class="label">Current session ID: {{ sessionStore.sender }}</label>

        <div class="control">
          <button class="button is-warning">Start new session</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import ChatMessage from './ChatMessage.vue'
import { MessageType, Message, TextBlock } from '@/message'
import { spellCheck } from '@/spellchecker'
import { tokenize } from '@/simpleTokenizer'
import { askRasa } from '@/rasa'
import { useSessionStore } from '@/stores/session'
import { mapStores } from 'pinia'

export default {
  name: 'MyChat',
  el: '#app',
  data() {
    return {
      isLoading: false,
      value: ''
    }
  },
  mounted() {
    if (!this.sessionStore.hasSession()) {
      this.sessionStore.newSession()
    }
  },
  watch: {
    isLoading() {
      this.scrollToBottom()
    }
  },
  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useSessionStore)
  },
  methods: {
    onNewSession() {
      this.sessionStore.newSession()
    },
    async onSubmit() {
      this.isLoading = true

      const query = this.value
      this.value = ''

      const spellchecked = await spellCheck(query)

      let textBlocks: TextBlock[] = []

      let message: Message

      if (spellchecked != undefined) {
        textBlocks = tokenize(query, spellchecked?.flaggedTokens)
        message = new Message(textBlocks, MessageType.User)
        this.sessionStore.addMessage(message)
      } else {
        textBlocks = [new TextBlock(query, null)]
        message = new Message(textBlocks, MessageType.User)
        this.sessionStore.addMessage(message)

        this.sessionStore.addMessage(
          new Message([new TextBlock('Failed to perform autocorrect.', null)], MessageType.System)
        )
      }

      const response = await askRasa(message.getCorrected(), this.sessionStore.sender)

      if (response != undefined) {
        response.forEach((rasaMessage) => {
          this.sessionStore.addMessage(
            new Message(
              [new TextBlock(rasaMessage.custom.message, null)],
              MessageType.Bot,
              rasaMessage.custom.payload
            )
          )
        })
      } else {
        this.sessionStore.addMessage(
          new Message(
            [new TextBlock('Failed to retrieve Rasa response.', null)],
            MessageType.System
          )
        )
      }

      this.isLoading = false
    },
    onMessageMounted() {
      this.scrollToBottom()
    },
    scrollToBottom() {
      const bottom = this.$refs['bottom'] as unknown as HTMLDivElement
      bottom.scrollIntoView({ behavior: 'smooth' })
    }
  },
  components: { ChatMessage }
}
</script>
