<template>
  <img :src="imgSrc" alt="Placeholder image" />
</template>

<script lang="ts">
export default {
  name: 'PlaceholderImage',
  props: {
    id: Number
  },
  computed: {
    imgSrc() {
      return `https://picsum.photos/seed/${this.id}/48.webp`
    }
  }
}
</script>
