@use '@oruga-ui/theme-bulma/dist/bulma.css';

.bot-msg {
  @extend .is-primary;
  margin-left: 1rem !important;
  margin-right: 16rem !important;
}

.user-msg {
  @extend .is-info;
  margin-left: 16rem !important;
  margin-right: 1rem !important;
}

.system-msg {
  @extend .is-danger;
  margin-left: 1rem !important;
  margin-right: 16rem !important;
}

#chat-box {
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
}

#chat-entry {
  width: 100%;
}

#chat-welcome{
  color: transparentize($color: #000000, $amount: 0.7);
}

#chat-bottom{
  height: 20px;
}

.progress {
  width: 20%;
}